#!/bin/bash

kill_broadsea() {
  echo Killing broadsea...
  docker kill broadsea || true
  docker rm broadsea || true
}

start_broadsea() {
  LOG_DRIVER=local
  if [ ! -z "${enable_fluentd}" ]; then
    LOG_DRIVER=fluentd
  fi
  echo Starting broadsea...
  docker run -d \
    -e PASSWORD=mypass \
    -e WEBAPI_URL=${webapi_url} \
    -e env=webapi-postgresql \
    -e security_enabled=false \
    -e security_origin=* \
    -e datasource_driverClassName=org.postgresql.Driver \
    -e datasource_url=jdbc:postgresql://${postgres_hostname}:5432/hsdp_pg \
    -e datasource.cdm.schema=cdm \
    -e datasource.ohdsi.schema=ohdsi \
    -e datasource_username=${postgres_username} \
    -e datasource_password=${postgres_password} \
    -e spring.jpa.properties.hibernate.default_schema=ohdsi \
    -e spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect \
    -e spring.batch.repository.tableprefix=ohdsi.BATCH_ \
    -e flyway_datasource_driverClassName=org.postgresql.Driver \
    -e flyway_datasource_url=jdbc:postgresql://${postgres_hostname}:5432/hsdp_pg \
    -e flyway_schemas=ohdsi \
    -e flyway.placeholders.ohdsiSchema=ohdsi \
    -e flyway_datasource_username=${postgres_username} \
    -e flyway_datasource_password=${postgres_password} \
    -e flyway.locations=classpath:db/migration/postgresql \
    --restart always \
    --name broadsea \
    --log-driver=${log_driver} \
    -p10000:8080 \
    ${broadsea_webtools_image}
}

kill_broadsea

start_broadsea
